<div class="module bigButtonsmenumenu" ng-controller="bigButtonsmenuController">

 
  <div class="menu" ng-show="muestramenu" >
   
      
      <div style="margin-top: 16px; width: 90vw;" > 
          <a class="item" ng-click="checkbutton(value.url)" ng-repeat="(key, value) in menu" ng-selected="isSelected(value.url)" ng-href="{{value.url}} " style="background-image:url('{{value.backgroundImage}}')">
             <i style="display:none">
                 <koa-icon src="{{value.icon}}" ng-if="!showicons && value.typeicon === 0"></koa-icon>
                 <iron-icon src="{{value.icon}}" class="itemicon" ng-if="!showicons && value.typeicon === 1"></iron-icon>
              </i>
              <em class="title">{{value.text}}</em>
          </a>
      </div>        
  </div>

  <div class="content" ng-show="!muestramenu">
      <button class="btn" ng-click="openMenu()" >
   
          <koa-icon icon="{{bigButtonsmenu.icon}}" id="menuIcon" class="menuIcon" ></koa-icon>
      </button>
      <!-- moduleIdentifier + Template - Needs embracing div -->
      <div ng-include="bigButtonsmenuTemplate" class="template"></div>
  </div>
  <!-- end module html -->
</div>


